Repository huggingface/optimum-habana, pull requests merged in 2024-07, with the labels that each got.

#1110 fix for selective seq length test with batch size 1
  examples/text-generation/utils.py
Labels: run-test

#1104 Enable FusedRoPE using float32 for gpt-neox model
  optimum/habana/transformers/models/gpt_neox/modeling_gpt_neox.py
Labels: run-test

#1106 Add a test for llama finetuning with FP8 precision
  examples/language-modeling/README.md
  tests/baselines/llama_7b.json
  tests/test_examples.py
Labels: run-test, synapse1.17

#1102 Adding fused qkv support along with config
  optimum/habana/transformers/models/llama/configuration_llama.py
  optimum/habana/transformers/models/llama/modeling_llama.py
Labels: run-test, synapse1.17

#1096 TE FP8 integration
  examples/language-modeling/README.md
  optimum/habana/accelerate/accelerator.py
  optimum/habana/accelerate/utils/__init__.py
  optimum/habana/accelerate/utils/dataclasses.py
  optimum/habana/accelerate/utils/transformer_engine.py
  optimum/habana/peft/layer.py
  optimum/habana/transformers/trainer.py
  optimum/habana/transformers/training_args.py
Labels: run-test, synapse1.17

#1113 Sasarkar/beam fix
  optimum/habana/transformers/generation/utils.py
Labels: run-test

#1066 Add chat format support dataset in SFT
  examples/trl/README.md
  examples/trl/sft.py
  optimum/habana/transformers/models/qwen2/modeling_qwen2.py
  optimum/habana/trl/trainer/sft_trainer.py
  tests/baselines/Qwen2_7B.json
  tests/baselines/llama_7b.json
  tests/test_examples.py
  tests/utils.py
Labels: run-test

#1088 fix nan loss of gemma and crash if dataset_concatenation is not set
  examples/language-modeling/run_lora_clm.py
  tests/baselines/falcon_40b.json
  tests/baselines/llama_7b.json
  tests/test_examples.py
Labels: run-test

#1087 Enhance Qwen2 with fastsoftmax and bf16 RoPE and cache optimization
  optimum/habana/transformers/models/qwen2/modeling_qwen2.py
  tests/test_text_generation_example.py
Labels: run-test

#814 Add an example of Segment Anything Model [Inference]
  Makefile
  README.md
  docs/source/index.mdx
  examples/object-segementation/README.md
  examples/object-segementation/run_example_sam.py
  tests/test_image_segmentation.py
Labels: run-test

#826 Add an example of FastViT model (Infernece)
  Makefile
  README.md
  docs/source/index.mdx
  examples/image-classification/README.md
  examples/image-classification/requirements.txt
  examples/image-classification/run_timm_example.py
  tests/test_image_classification.py
Labels: run-test

#891 Add the MC example
  examples/stable-diffusion/README.md
  examples/stable-diffusion/text_to_image_generation.py
Labels: run-test

#922 VideoMAE Model Enabling and Examples
  Makefile
  README.md
  docs/source/index.mdx
  examples/video-classification/README.md
  examples/video-classification/requirements.txt
  examples/video-classification/run_example.py
  tests/test_video_mae.py
Labels: run-test

#977 OpenCLIP sample for visual question answering
  Makefile
  examples/visual-question-answering/README.md
  examples/visual-question-answering/openclip_requirements.txt
  examples/visual-question-answering/run_openclip_vqa.py
  tests/test_openclip_vqa.py
Labels: run-test

#994 Feature extraction enabling
  Makefile
  README.md
  docs/source/index.mdx
  examples/text-feature-extraction/README.md
  examples/text-feature-extraction/run_feature_extraction.py
  optimum/habana/transformers/modeling_utils.py
  optimum/habana/transformers/models/__init__.py
  optimum/habana/transformers/models/bert/__init__.py
  optimum/habana/transformers/models/bert/modeling_bert.py
  tests/test_feature_extraction.py
Labels: run-test

#1129 sasarkar/Fix recompiles if limit_hpu_graph is False
  optimum/habana/transformers/generation/utils.py
Labels: run-test

#1123 Update examples batchsize in README
  examples/audio-classification/README.md
  examples/image-classification/README.md
  examples/language-modeling/README.md
  examples/question-answering/README.md
  examples/stable-diffusion/README.md
  examples/text-classification/README.md
  examples/text-generation/README.md
Labels: run-test

#878 Added an example code to demonstrate how to use deterministic image generation
  Makefile
  examples/stable-diffusion/README.md
  examples/stable-diffusion/text_to_image_generation.py
  tests/test_diffusers.py
Labels: run-test

#988 stable diffusion image variation/InstructPix2Pix/StableDiffusionXLImg2ImgPipeline pipeline
  examples/stable-diffusion/README.md
  examples/stable-diffusion/image_to_image_generation.py
  optimum/habana/diffusers/__init__.py
  optimum/habana/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_image_variation.py
  optimum/habana/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_instruct_pix2pix.py
  optimum/habana/diffusers/pipelines/stable_diffusion_xl/pipeline_stable_diffusion_xl_img2img.py
  tests/test_diffusers.py
Labels: run-test

#1020 add ci test for trl rewarding and ppo, fix backward failure in ppo ca…
  examples/trl/README.md
  examples/trl/ppo.py
  examples/trl/reward_modeling.py
  tests/baselines/llama_7b.json
  tests/test_examples.py
Labels: run-test

#983 Llama adapter
  Makefile
  examples/language-modeling/README.md
  examples/language-modeling/run_lora_clm.py
  examples/text-generation/utils.py
  optimum/habana/peft/__init__.py
  optimum/habana/peft/layer.py
  optimum/habana/transformers/models/llama/modeling_llama.py
  tests/baselines/llama_7b.json
  tests/test_examples.py
  tests/test_peft_inference.py
Labels: run-test

#1120 Enable fp8 inference for Llava-Next and add Fused_SDPA
  examples/image-to-text/README.md
  examples/image-to-text/run_pipeline.py
  optimum/habana/transformers/modeling_utils.py
  optimum/habana/transformers/models/__init__.py
  optimum/habana/transformers/models/clip/__init__.py
  optimum/habana/transformers/models/clip/modeling_clip.py
  optimum/habana/transformers/models/llava/modeling_llava.py
  optimum/habana/transformers/models/llava_next/modeling_llava_next.py
  tests/test_image_to_text_example.py
Labels: run-test

#1092 torch.flip issue is fixed in SynapseAI 1.16, so remove the WA in opti…
  optimum/habana/transformers/modeling_utils.py
  optimum/habana/transformers/models/__init__.py
  optimum/habana/transformers/models/vits/__init__.py
  optimum/habana/transformers/models/vits/modeling_vits.py
Labels: run-test

#1139 Fix test CausalLanguageModelingLORAExampleTester KeyError
  tests/baselines/llama_7b.json
  tests/test_examples.py
Labels: run-test

#859 Enable Unconditional Image Generation on Gaudi 2 [Diffuser/Tasks]
  docs/source/package_reference/stable_diffusion_pipeline.mdx
  examples/stable-diffusion/README.md
  examples/stable-diffusion/unconditional_image_generation.py
  optimum/habana/diffusers/__init__.py
  optimum/habana/diffusers/models/__init__.py
  optimum/habana/diffusers/models/unet_2d.py
  optimum/habana/diffusers/pipelines/ddpm/pipeline_ddpm.py
  optimum/habana/diffusers/pipelines/pipeline_utils.py
  tests/test_diffusers.py
Labels: run-test, synapse1.17

#1145 generation example: print number of warmup iterations
  examples/text-generation/run_generation.py
Labels: run-test, review wip

#1046 Enabled DETR (Object Detection) model
  Makefile
  README.md
  docs/source/index.mdx
  examples/object-detection/README.md
  examples/object-detection/run_example.py
  optimum/habana/transformers/modeling_utils.py
  optimum/habana/transformers/models/__init__.py
  optimum/habana/transformers/models/detr/__init__.py
  optimum/habana/transformers/models/detr/modeling_detr.py
  setup.py
  tests/test_object_detection.py
Labels: run-test, synapse1.17

#978 Table transformer enabling
  Makefile
  README.md
  docs/source/index.mdx
  examples/table-detection/README.md
  examples/table-detection/requirements.txt
  examples/table-detection/run_example.py
  optimum/habana/transformers/modeling_utils.py
  optimum/habana/transformers/models/__init__.py
  optimum/habana/transformers/models/table_transformer/__init__.py
  optimum/habana/transformers/models/table_transformer/modeling_table_transformer.py
  setup.py
  tests/test_table_transformer.py
Labels: run-test, synapse1.17

#1137 Support `bucket_internal` for MPT
  optimum/habana/transformers/models/mpt/modeling_mpt.py
Labels: run-test, synapse1.17

#1114 Enable Flash Attention (Fused SDPA) for Starcoder
  optimum/habana/transformers/models/starcoder2/modeling_starcoder2.py
  tests/test_text_generation_example.py
Labels: run-test, synapse1.17

#1140 CI Updates: text-gen to recieve ranks/bs, Updated bs/metric for baselines
  examples/image-classification/README.md
  examples/stable-diffusion/README.md
  tests/baselines/bert_large_uncased_whole_word_masking.json
  tests/baselines/vit_base_patch16_224_in21k.json
  tests/baselines/wav2vec2_base.json
  tests/test_examples.py
  tests/test_text_generation_example.py
Labels: run-test, synapse1.17

#1138 gpt_bigcode: added FusedSDPA kernel
  optimum/habana/transformers/models/gpt_bigcode/modeling_gpt_bigcode.py
  tests/test_text_generation_example.py
Labels: run-test, synapse1.17

#1039 Support for custom files for run_lora_clm.py
  Makefile
  examples/language-modeling/README.md
  examples/language-modeling/run_lora_clm.py
  tests/resource/custom_dataset.jsonl
  tests/resource/custom_dataset.txt
  tests/test_custom_file_input.py
Labels: review wip

#1121 Tensor parallel distributed strategy without using deepspeed
  examples/text-generation/README.md
  examples/text-generation/run_generation.py
  examples/text-generation/utils.py
  optimum/habana/distributed/__init__.py
  optimum/habana/distributed/serialization.py
  optimum/habana/distributed/strategy.py
  optimum/habana/distributed/tensorparallel.py
  optimum/habana/distributed/tp.py
  optimum/habana/distributed/tp_wrapping.py
  optimum/habana/transformers/models/llama/configuration_llama.py
  optimum/habana/transformers/models/llama/modeling_llama.py
  tests/test_text_generation_example.py
Labels: synapse1.17
