Repository huggingface/optimum-habana, pull requests merged in 2024-01, with the labels that each got.

#610 Adding support for bf16_full_eval
  examples/summarization/README.md
  optimum/habana/transformers/trainer.py
  optimum/habana/transformers/training_args.py
  tests/test_encoder_decoder_text_summarization.py
Labels: run-test

#621 Enable fused rmsnorm in bf16 for llama
  optimum/habana/transformers/models/llama/modeling_llama.py
Labels: run-test

#526 Text-Generation Pipeline Example
  examples/text-generation/README.md
  examples/text-generation/run_generation.py
  examples/text-generation/text-generation-pipeline/README.md
  examples/text-generation/text-generation-pipeline/pipeline.py
  examples/text-generation/text-generation-pipeline/run_pipeline.py
Labels: run-test

#623 Fix flash attention output for llama for padded batched inputs
  optimum/habana/transformers/models/llama/modeling_llama.py
Labels: run-test

#619 Stable Diffusion XL for Gaudi
  docs/source/package_reference/stable_diffusion_pipeline.mdx
  examples/stable-diffusion/README.md
  examples/stable-diffusion/text_to_image_generation.py
  optimum/habana/diffusers/__init__.py
  optimum/habana/diffusers/pipelines/pipeline_utils.py
  optimum/habana/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py
  optimum/habana/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_ldm3d.py
  optimum/habana/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_upscale.py
  optimum/habana/diffusers/pipelines/stable_diffusion_xl/pipeline_stable_diffusion_xl.py
  optimum/habana/diffusers/schedulers/__init__.py
  optimum/habana/diffusers/schedulers/scheduling_ddim.py
  optimum/habana/diffusers/schedulers/scheduling_euler_ancestral_discrete.py
  optimum/habana/diffusers/schedulers/scheduling_euler_discrete.py
  tests/test_diffusers.py
Labels: run-test

#625 Remove setting of PT_HPU_LAZY_MODE=2 in training_args.py
  docs/Dockerfile
  optimum/habana/transformers/training_args.py
  tests/test_trainer.py
Labels: run-test

#634 update for SDXL Turbo support
  examples/stable-diffusion/README.md
  examples/stable-diffusion/text_to_image_generation.py
  tests/test_diffusers.py
Labels: run-test

#641 enable master_port selecting for DeepSpeed and MPI
  examples/gaudi_spawn.py
  examples/text-generation/README.md
  optimum/habana/distributed/distributed_runner.py
Labels: run-test

#652 Add DPO of TRL in README.md
  README.md
Labels: synapse1.14

#646 add seed in DPO for reproduce the training result. disable hpu graph …
  examples/trl/dpo.py
Labels: run-test, synapse1.14

#622 Enabling Graphs in Wav2Vec AC training
  examples/audio-classification/README.md
  optimum/habana/transformers/modeling_utils.py
  tests/baselines/wav2vec2_base.json
Labels: run-test, synapse1.14

#626 Flash attention enhancement of repeatKV
  optimum/habana/transformers/models/llama/modeling_llama.py
Labels: run-test, synapse1.14

#598 Add changes to support FSDP
  examples/language-modeling/fsdp_config.json
  examples/language-modeling/run_lora_clm.py
  examples/question-answering/fsdp_config.json
  optimum/habana/accelerate/accelerator.py
  optimum/habana/accelerate/state.py
  optimum/habana/accelerate/utils/__init__.py
  optimum/habana/accelerate/utils/dataclasses.py
  optimum/habana/peft/__init__.py
  optimum/habana/peft/layer.py
  optimum/habana/transformers/models/llama/modeling_llama.py
  optimum/habana/transformers/trainer.py
  optimum/habana/transformers/training_args.py
  tests/test_fsdp_examples.py
Labels: run-test, synapse1.14

#616 Run Llama2 with torch.compile on Gaudi2
  examples/text-generation/run_generation.py
  examples/text-generation/utils.py
  tests/test_text_generation_example.py
Labels: run-test, synapse1.14

#639 Update repeat KV llama logic for better TP-4 performance
  optimum/habana/transformers/models/llama/modeling_llama.py
Labels: run-test, synapse1.14

#648 Hqt
  examples/text-generation/README.md
  examples/text-generation/quantization_config/act_maxabs_hw_weights_pcs_maxabs_pow2_quant.json
  examples/text-generation/quantization_config/maxabs_measure.json
  examples/text-generation/quantization_config/maxabs_quant.json
  examples/text-generation/quantization_config/unit_scale_quant.json
  examples/text-generation/run_generation.py
  examples/text-generation/run_lm_eval.py
  examples/text-generation/utils.py
  optimum/habana/transformers/models/llama/modeling_llama.py
Labels: run-test, synapse1.14

#662 Fix compile error for torch_cmpile for llama
  optimum/habana/transformers/models/llama/modeling_llama.py
Labels: run-test, synapse1.14

#585 Add ControlNet Pipeline
  examples/stable-diffusion/README.md
  examples/stable-diffusion/requirements.txt
  examples/stable-diffusion/text_to_image_generation.py
  optimum/habana/diffusers/__init__.py
  optimum/habana/diffusers/pipelines/controlnet/pipeline_controlnet.py
  tests/test_diffusers.py
Labels: run-test
