Repository huggingface/optimum-habana, pull requests merged in 2025-03, with the labels that each got.

#1812 v1.16 Llama3-405B text-generation. Added DEEPSPEED_USE_HABANA_FRAMEWORKS_DETERMINISTIC_API flag.
  examples/text-generation/README.md
Labels: synapse1.20

#1814 Fix Sentence Transformer STS restart issue
  examples/sentence-transformers-training/nli/README.md
  examples/sentence-transformers-training/nli/ds_config.json
  examples/sentence-transformers-training/sts/README.md
  examples/sentence-transformers-training/sts/ds_config.json
Labels: synapse1.20

#1819 fix broken link for GenerationConfig
  optimum/habana/transformers/modeling_utils.py
Labels: transformers_future

#1815 Workaround for Transformers 4.49.0 component loading dtype issue
  optimum/habana/diffusers/pipelines/pipeline_utils.py
  optimum/habana/diffusers/pipelines/stable_diffusion_xl/pipeline_stable_diffusion_xl_mlperf.py
Labels: transformers_future

#1794 [Transformers future] Loss Computation for Compatibility with Transformers 4.48.3
  optimum/habana/distributed/contextparallel.py
  optimum/habana/transformers/models/llama/modeling_llama.py
  optimum/habana/transformers/trainer.py
Labels: transformers_future

#1801 Move model to device before wrapping with FSDP
  optimum/habana/accelerate/accelerator.py
Labels: transformers_future

#1830 Move model to device before wrapping with FSDP
  examples/question-answering/run_qa.py
Labels: synapse1.20

#1820 Update warmup ratio for adalora
  tests/baselines/llama_7b.json
Labels: synapse1.20

#1836 Fix for attention selection in wav2vec2
  optimum/habana/transformers/modeling_utils.py
  optimum/habana/transformers/models/modeling_all_models.py
Labels: synapse1.20

#1837 Revert "Lm eval upgraded to 0.4.7 (#1692)"
  examples/text-generation/requirements_lm_eval.txt
  examples/text-generation/run_lm_eval.py
Labels: synapse1.20

#1822 set support static cache for qwen2
  optimum/habana/transformers/models/qwen2_vl/modeling_qwen2_vl.py
Labels: run-test, transformers_4_49

#1831 fea(): pytest fixes for gpt_neox (v4.49)
  optimum/habana/transformers/models/gpt_neox/modeling_gpt_neox.py
  tests/transformers/tests/models/gpt_neox/test_modeling_gpt_neox.py
Labels: run-test, transformers_4_49

#1845 fea(): updated test_tied_weights_keys pytest for 4.49
  tests/transformers/tests/test_modeling_common.py
Labels: run-test, transformers_4_49

#1804 Slow test updates
  tests/baselines/fixture/tests/test_encoder_decoder.json
  tests/test_text_generation_example.py
Labels: run-test, transformers_4_49

#1802 Fix race condition when downloading nltk tokenizer
  examples/summarization/run_summarization.py
Labels: run-test, transformers_4_49

#1844 [transformers_4_49] Fix for AutoModelForCausalLM.from_pretrained()
  examples/language-modeling/run_clm.py
Labels: run-test, transformers_future

#1835 Keep logits in bf16 (#182)
  optimum/habana/transformers/models/deepseek_v3/modeling_deepseek_v3.py
Labels: run-test, transformers_future

#1796 Fixes pytest runtime error - Incompatible input shapes, broadcast not possible
  optimum/habana/transformers/models/gpt2/modeling_gpt2.py
Labels: transformers_future

#1850 Fix unexpected 'num_items_in_batch' argument in GPT-NeoX forward
  optimum/habana/transformers/models/gpt_neox/modeling_gpt_neox.py
Labels: transformers_future

#1855 Adjust precision of eval_accuracy to avoid random failure in pytest for lora finetune Llava image-to-text
  tests/baselines/fixture/tests/test_examples.json
Labels: run-test, transformers_4_49

#1862 Update Sentence Transformer CI/Ref
  tests/baselines/fixture/tests/test_sentence_transformers.json
  tests/test_sentence_transformers.py
Labels: run-test, transformers_4_49

#1864 fix typo in modeling llama
  examples/text-generation/README.md
  optimum/habana/transformers/models/llama/modeling_llama.py
  tests/baselines/fixture/tests/test_text_generation_example.json
  tests/test_text_generation_example.py
Labels: run-test, transformers_future

#1863 fea(): Added the updated skip list for mistral/mixtral tests
  tests/transformers/tests/models/mistral/test_modeling_mistral.py
  tests/transformers/tests/models/mixtral/test_modeling_mixtral.py
Labels: run-test, transformers_future

#1870 Fix regression for test_run_image2text_lora_finetune_idefics2-8b_multi_card
  tests/baselines/fixture/tests/test_examples.json
Labels: run-test, transformers_future

#1865 Revert "Move model to device before wrapping with FSDP (#1801)"
  optimum/habana/accelerate/accelerator.py
Labels: run-test, transformers_future

#1816 Optimize SD3 Pipeline : Padding prompt Embeddings for softmax_hf8 compatibility and Efficient Utilization
  optimum/habana/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3.py
Labels: synapse 1.21
